.container {
  width: 100%;
  height: 100%;
}

.top,
.bottom {
  height: 20%;
  text-align: center;
}

.middle {
  height: 60%;
  width: 100%;
}

.left,
.right {
  width: 20%;
  display: inline-block;
}

.center {
  width: 60%;
  text-align: center;
  display: inline-block;
}

.date {
  font-size: 1em;
  text-align: center;
}

.time {
  font-size: 6em;
  text-align: center;
}

.ampm {
  font-size: 3em;
  text-align: center;
}

/*
.divisor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 */

.color-alarm1 {
  padding-top: 50%;
  color: var(--beaver-color-indianred);
}

.color-alarm2 {
  padding-top: 50%;
  color: var(--beaver-color-jade);
}

.border {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
}

ion-button {
  --color: #000;
  --background: var(--beaver-color-verylightazure);
}
